@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face{
  font-family: "Avenir";
  src: url('./Avenir Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir" , 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

